
footer {
  background-color: white;
  width:100%;
  box-sizing: border-box;
  padding:100px 0;
}

.footerTitleContainer {
  border-top: 2px solid black;
  height:30px;
  padding: 0 50px;
  margin: auto;
  text-align: center;
  width:100%;
  width:330px;
  box-sizing: border-box;
}

.footerTitleContainer h2 {
  margin-top: -20px;
  background-color: white;
}

.socialContainer {
  margin: auto;
  text-align: center;
}

.socialIcon {
  font-size:100px;
  padding:10px;
  color:black;
}
