
html {
  width:100%;
  height:100%;
  box-sizing: border-box;
  overflow: scroll;
  background-color: rgb(250,250,250);
}

body {
  width:100%;
  height:100%;
  box-sizing: border-box;
  overflow: scroll;
}

.headerSection {
  width:100%;
  height:100%;
  box-sizing: border-box;
  background-image: url("header-background.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: top;
}

.headerCardWrapper {
  margin:auto;
  width:100%;
  height:calc(100% - 250px);
  padding:0 50px;
  box-sizing: border-box;
}

.headerCard {
  width:100%;
  height:100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(100,100,100,.5);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.headerCardLeft {
  width:50%;
  height:100%;
  position: relative;
}

.headerCardImg {
  position:absolute;
  width:100%;
  top:50%;
  transform: translateY(-50%);
}

.headerCardRight {
  position: relative;
  width:50%;
  padding:20px;
  box-sizing: border-box;
}

.headerCardRight h1 {
  font-size: 2em;
}
.headerCardRight h2 {
  font-size: 1.25em;
  color:#5391C6;
}

.headerCardRightContent {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding-right:20px;
}

.headerCardRightTitle {
  margin-bottom:20px;
}

.companiesContainer {
  width:100%;
  display:inline-flex;
  padding: 0 50px 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  box-shadow:0 2px 4px rgba(100,100,100,0.5);
}

.companyLogoContainer {
  width:25%;
  height:100%;
  margin-top: 50px;
  text-align: center;
}

.companyLogo {
  height:100%;
}
