

.header {
  padding:50px 20px;
  width:100%;
  color:white;
  background-color: gray;
  text-align: center;
  box-shadow: 0 2px 4px rgba(100,100,100,.5);
  box-sizing: border-box;
}
html {
  background-color: rgb(245,245,245);
}

.usersContainer {
  width:100%;
  max-width: 750px;
  margin:auto;
  padding: 20px;
  box-sizing: border-box;
}

.userCard {
  width:100%;
  box-shadow: 0 2px 4px rgba(100,100,100,.5);
  margin:10px 0;
  box-sizing: border-box;
  padding:20px;
}

.userCardButtons {
  width:100%;
  display: inline-flex;
  margin-top: 20px;
}

.button {
  min-width:100px;
  padding:10px;
  background-color: blue;
  color:white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(100,100,100,.5);
  text-align: center;
  margin-right:10px;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
}

.todosContainer {
  margin-top:10px;
}

.todoItem {
  display: inline-flex;
  margin-top: 10px;
  width:100%;
}
