
body {
  background-color: rgb(250,250,250);
}

.contentWrapper {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding-left:20px;
  padding-right:20px;
  box-sizing: border-box;
}

.navContainer {
  height:60px;
  background-color: rgb(60,60,60);
  width:100%;
  padding-left:30px;
  padding-right:30px;
  box-sizing: border-box;
}

.navWrap {
  float:left;
  height:100%;
}

.navWrap a {
  color:white;
  height:100%;
  padding: 22px 10px 10px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
}

.navWrap a:hover {
  border-bottom: 5px solid white;
  box-sizing: border-box;
}

.logoWrap {
  float:right;
  width:60px;
  height:100%;
}

.headerSection {
  padding: 75px 0;
  background-color: white;
  box-shadow: 0 2px 4px rgb(200,200,200);
}

.headerContent {
  margin: auto;
  text-align: center;
  width:100%;
  max-width: 500px;
}

.myButton {
  padding:10px;
  color:white;
  box-shadow: 0 2px 10px rgb(100,100,100);
  background-color: #58C586;
  border-radius: 3px;
  margin-top: 10px;
}

.myButton:hover {
  box-shadow: 0 1px 6px rgb(100,100,100);
  cursor: pointer;
}

.cardsSection {
  width:100%;
  padding:50px 0;
  display: inline-flex;
  flex-wrap: wrap;
}

.cardsContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width:100%;
}

.cardWrapper {
  width:33%;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  box-shadow: 0 2px 4px rgb(100,100,100);
  width:100%;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .cardWrapper {
        width:100%;
    }
}
